.footer{
  text-align: center;
  padding-bottom: 20px;
}


.prev{
  margin-right: 40%;
  cursor: pointer;
  color:  #52D1DB;

}

.next{
  margin-left: 40%;
  cursor: pointer;
  color:  #52D1DB;
}

@media only screen and (max-width: 996px){
  .prev{
    margin-right: 10%;
  }
  .next{
    margin-left: 10%;
  }
}

@media only screen and (max-width: 500px){
  .prev{
    margin-right: 5%;
  }
  .next{
    margin-left: 5%;
  }
}
@media only screen and (max-width: 400px){
  .prev{
    margin-right: 2%;
  }
  .next{
    margin-left: 2%;
  }
}
